* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#headerLogoImg {
    width: 10%;
}


#headerTechLink {
    text-decoration: none;
    color: black;
    font-size: 45px;
    font-family: 'Red Hat Mono', monospace;
    text-align: center;
    font-weight: 700;
}


#searchBar {
    width: 25%;
    height: 20px;
}


#navLinkList {
    display: flex;
    list-style: none;
}


#navLinkList a {
    text-decoration: none;
    color: black;
    font-family: 'Red Hat Mono', monospace;
    font-size: 25px;
    margin-right: 35px;
    padding-right: 10px;
    border-right: 1px solid black;
}


#mainContentHeader {
    display: flex;
    justify-content: space-around;
}


#mainContentHeader h1 {
    font-family: 'Red Hat Mono', monospace;
    font-size: 35px;
}

#mainContentHeader a {
    text-decoration: none;
    font-family: 'Red Hat Mono', monospace;
    font-size: 25px;
    color: black;
}

#mainContentHeader div label {
    font-size: 25px;
    font-family: 'Red Hat Mono', monospace;
}

#moviesDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5%;
    background-color: white;
}

.movieData {
    width: 27%;
    height: 450px;
    border: 1px solid rgb(78,110,129, 0.7);
    border-radius: 1.5%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../media/offwhite_background.jfif);
    opacity: 5;
}

.movieData img {
    width: 85%;
    height: 70%;
    border-radius: 2.5%;
    box-shadow: 3px 3px 3px rgb(78,110,129, 0.7);
}


.movieData h3{
    font-family: 'Red Hat Mono', monospace;
    font-size: 20px;
}

.movieData p {
    font-family: 'Red Hat Mono', monospace;
    font-weight: 500;
}

#expendBtn a{
    text-decoration: none;
    color: black;
    font-family: 'Red Hat Mono', monospace;
    font-size: 16px;
}

#singleMovieDisplay {
    font-family: 'Red Hat Mono', monospace;
    width: 70%;
    height: 600px;
    overflow: auto;
    display: flex;
    margin-left: 15%;
    position: relative;
    top: -450px;
    background : white;
    z-index: -1000;
}

#infoPopImg {
    height: 500px;
    margin-left: 2.5%;
    margin-top: 5.5%;
    box-shadow: 3px 3px 3px;
}


#singleMovieDisplay div {
    display: flex;
    flex-direction: column;
    margin-left: 4.5%;
    margin-top: 4.5%;
}

#backBtn {
    width: 10%;
    height: 70px;
    cursor: pointer;
    position: relative;
    left: -25px;
    z-index: 1000;
}

.btnContainer {
    display: flex;
}

#deleteBtn {
    margin-left: 80px;
    font-family: 'Red Hat Mono', monospace;
    font-size: 18px;
}