* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#headerLogoImg {
    width: 10%;
}


#headerTechLink {
    text-decoration: none;
    color: black;
    font-size: 45px;
    font-family: 'Red Hat Mono', monospace;
    text-align: center;
    font-weight: 700;
}


#searchBar {
    width: 25%;
    height: 20px;
}


#navLinkList {
    display: flex;
    list-style: none;
}


#navLinkList a {
    text-decoration: none;
    color: black;
    font-family: 'Red Hat Mono', monospace;
    font-size: 25px;
    margin-right: 35px;
    padding-right: 10px;
    border-right: 1px solid black;
}


#mainContentHeader {
    display: flex;
    justify-content: space-around;
}


#mainContentHeader h1 {
    font-family: 'Red Hat Mono', monospace;
    font-size: 35px;
}


#mainContentHeader div label {
    font-size: 25px;
    font-family: 'Red Hat Mono', monospace;
}

#tableContainer {
    height: 350px;
    width: 1275px;
    overflow: auto;
    margin-top: 5%;
    margin-left: 3.5%;
}

#moviesDetails {
    width: 100%;
    padding-right: 90px;
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    border-radius: 1%;
    
}

#moviesDetails  thead,  td   {
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    padding: 1.5%;
    background-color: rgb(78,110,129, 0.1);
    font-family: 'Red Hat Mono', monospace;
    font-size: 15px;
    width: 10%;
}


#moviesDetails  thead {
    background-color: rgb(78,110,129, 0.3);
}


#moviesDetails td {
    padding: 0.5em;
}

.infoDetails {
   overflow:auto;
    width: 50px;
    height: 50px; 
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    padding: 1.5%;
}
